/* General Styles */
body {
    background-color: #F8FAFC;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header and Navigation */
header {
    background-color: #BCCCDC;
    padding: 20px;
}

.logo {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* Section Styling */
section {
    padding: 40px 20px;
    background-color: #D9EAFD;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #2E4057;
}

/* Skills Section */
#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    background: #9AA6B2;
    color: white;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

/* Responsive Navigation */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }
    
    .nav-links.show {
        display: flex;
    }
}
